/******************************************************************

Stylesheet: 410px以上(スマホの縦向き)のモニタで適用

******************************************************************/

.feeling {
  p {
    white-space: pre-line;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}